:root {
  --dark-purple: #201e4a;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  font-family: Montserrat;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1488px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.text-center {
  text-align: center;
}

.logo {
  width: 80px;
  height: 76px;
}

.btn {
  background-color: var(--dark-purple);
  color: #ffff;
  border-radius: 12.507px;
  font-size: 30.017px;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.get-started-btn {
  width: 226.799px;
  height: 81.714px;
}

/* start herosection */
.heroSection {
  background: url(/assets/images/hero-bg.png) no-repeat;
  background-size: 100% 100%;
  /* min-height: 100vh;
  max-height: 1150.381px; */
  color: #fff;
  padding-top: 50px;
  padding-bottom: 90px;
}

.heroSection h1 {
  max-width: 1110.647px;
  font-size: 53.364px;
  line-height: normal;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 46px;
  margin-left: auto;
  margin-right: auto;
}

.heroSection h2 {
  max-width: 1063.953px;
  font-size: 30.017px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.heroSection .btn {
  margin-top: 72px;
}
/* end hero section */

/* start running business section */
.running_business_section h1 {
  color: #000;
  font-size: 45.026px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 21px;
}

.running_business_section h2 {
  color: #000;
  font-size: 33.353px;
  font-weight: 600;
  line-height: normal;
}

.running_business_section ul {
  list-style: none;
  position: relative;
  max-width: 1133px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-inline-start: 70px;
  margin-top: 60px;
  margin-bottom: 65px;
}

.running_business_section ul li {
  color: #000;
  font-size: 26.682px;
  font-weight: 500;
  line-height: normal;
}

.running_business_section ul li::before {
  position: absolute;
  left: 0;
  content: "";
  background: url(/assets//icons/list-type-img.svg) no-repeat center;
  background-size: 45.86px;
  width: 45.86px;
  height: 45.86px;
}
/* end running business section */

/* start trusted client section */
.trusted_clients_section {
  padding-top: 110px;
  padding-bottom: 154px;
}

.trusted_clients_section h1 {
  max-width: 1030.601px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  text-align: center;
  font-size: 40.023px;
  font-weight: 700;
  line-height: normal;
}

.trusted_clients_section .cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  margin-top: 88px;
}

.trusted_clients_section .cards_wrapper .content {
  background: #f1f1f1;
  box-shadow: 0px 3.335px 3.335px 0px rgba(0, 0, 0, 0.25);
  padding: 47px 18px 72px;
}

.trusted_clients_section .cards_wrapper .content .quote_icon {
  width: 50.863px;
  height: 44.192px;
  display: block;
  margin-top: -67px;
  margin-bottom: 25px;
}

.trusted_clients_section .cards_wrapper .content p {
  font-size: 25.015px;
}

.trusted_clients_section .cards_wrapper .profile img {
  width: 100.058px;
  height: 100.058px;
  border-radius: 50%;
  margin-top: -50px;
}

.trusted_clients_section .cards_wrapper .profile p {
  color: #000;
  font-size: 25.015px;
  font-weight: 500;
  margin-top: 10px;
}

.trusted_clients_section .btn {
  margin-top: 93px;
}
/* end trusted client section */

/* start more info section */
.more_info_section .wrapper {
  max-width: 1030.601px;
  margin-left: auto;
  margin-right: auto;
}
.more_info_section h1 {
  color: #000;
  text-align: center;
  font-size: 40.023px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.more_info_section .sub_title {
  text-align: center;
  color: #000;
  font-size: 30.017px;
  line-height: normal;
}

.more_info_section form {
  max-width: 645.376px;
  background: #5f59be;
  box-shadow: 0px 3.335px 3.335px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  padding: 37px 42px;
  margin-top: 66.71px;
  margin-bottom: 66.71px;
}

.more_info_section form label {
  display: block;
  color: #fff;
  font-size: 30.017px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 13px;
}

.more_info_section form input {
  width: 100%;
  height: 57.534px;
  background: #fff;
  font-size: 30.017px;
  box-shadow: 0px 3.335px 3.335px 0px rgba(0, 0, 0, 0.25);
  border: none;
  margin-bottom: 33px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
}

.more_info_section .submit_btn {
  width: 202.618px;
  height: 69.207px;
}

.more_info_section .talk-to-sale .contact-wrapper {
  display: flex;
  align-items: center;
  gap: 145px;
}

.more_info_section .talk-to-sale .contact-wrapper .contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.more_info_section .talk-to-sale {
  padding-top: 125px;
  padding-bottom: 154px;
}

.more_info_section .talk-to-sale .contact-wrapper .contact p {
  color: #000;
  text-align: center;
  font-size: 26.682px;
  line-height: normal;
}
/* end more info section */

/* start footer */
footer {
  background-color: var(--dark-purple);
  color: #ffffff;
  padding-top: 68px;
  padding-top: 47px;
}
footer h1 {
  font-size: 40.023px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 68px;
}

footer .links_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 54px;
}

footer .links_wrapper .link_title {
  font-size: 25.015px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 35px;
}

footer .links_wrapper ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 0;
}
footer .links_wrapper ul a {
  color: #fff;
  font-size: 16.676px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

footer .links_wrapper .social_media {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer .copyright_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 46px;
  padding-bottom: 46px;
}

footer .copyright_wrapper .footer_logo {
  width: 66.706px;
  height: 63.37px;
}
footer .copyright_wrapper p {
  font-size: 16.676px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* end footer */

/* start media query */
@media (max-width: 1224px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  footer .copyright_wrapper .address {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 29px;
    height: 28px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn {
    font-size: 13px;
    border-radius: 15px;
  }
  .get-started-btn {
    width: 100px;
    height: 33px;
  }
  .heroSection {
    /* max-height: 558.028px; */
    padding-top: 20px;
    padding-bottom: 42px;
  }
  .heroSection h1 {
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: 36px;
  }
  .heroSection h2 {
    font-size: 16px;
    margin-bottom: 45px;
  }
  .heroSection .btn {
    margin-top: 28px;
  }

  .running_business_section :is(h1, h2) {
    font-size: 20px;
  }
  .running_business_section ul {
    padding-inline-start: 36px;
    margin-top: 30px;
    margin-bottom: 32px;
  }
  .running_business_section ul li {
    font-size: 16px;
  }
  .running_business_section ul li::before {
    background-size: 18px;
    width: 18px;
    height: 18px;
  }

  .trusted_clients_section {
    padding-top: 44px;
    padding-bottom: 50px;
  }
  .trusted_clients_section h1 {
    font-size: 20px;
  }
  .trusted_clients_section .cards_wrapper {
    grid-template-columns: auto;
    gap: 70px;
    margin-top: 32px;
  }
  .trusted_clients_section .cards_wrapper .content {
    padding: 51px 14px 58px;
  }
  .trusted_clients_section .cards_wrapper .content .quote_icon {
    width: 28px;
    height: 26px;
    margin-top: -63px;
  }
  .trusted_clients_section .cards_wrapper .content p {
    font-size: 16px;
  }
  .trusted_clients_section .cards_wrapper .profile img {
    width: 55px;
    height: 55px;
    margin-top: -27.5px;
  }
  .trusted_clients_section .cards_wrapper .profile p {
    font-size: 16px;
  }
  .trusted_clients_section .btn {
    margin-top: 30px;
  }

  .more_info_section h1 {
    font-size: 20px;
  }
  .more_info_section .sub_title {
    font-size: 13px;
  }
  .more_info_section form {
    padding: 26.74px 17.94px;
  }
  .more_info_section form label {
    font-size: 12px;
  }
  .more_info_section form input {
    height: 28.731px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
  }
  .more_info_section .submit_btn {
    width: 100px;
    height: 33px;
  }
  .more_info_section .talk-to-sale {
    padding-top: 43px;
    padding-bottom: 60px;
  }
  .more_info_section .talk-to-sale .contact-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  .more_info_section .talk-to-sale .contact-wrapper .contact {
    gap: 10px;
  }
  .more_info_section .talk-to-sale .contact-wrapper .contact img {
    width: 31px;
    height: auto;
  }
  .more_info_section .talk-to-sale .contact-wrapper .contact p {
    font-size: 16px;
  }
  footer h1 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  footer .links_wrapper {
    flex-direction: column;
    padding-bottom: 33px;
  }
  footer .links_wrapper .link_title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  footer .links_wrapper ul {
    gap: 10px;
  }
  footer .links_wrapper ul li a {
    font-size: 14px;
  }
  footer .copyright_wrapper {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  footer .copyright_wrapper .footer_logo {
    width: 25px;
    height: 24px;
  }
  footer .copyright_wrapper p {
    font-size: 14px;
    font-weight: 400;
  }
}
/* end media query */
